<div class="postContainer">
  <div class="titleContentLeft">
    <p style="margin-left: 10px; display:inline;"><a (click)="clickPost()" class="postTitle">{{post?.title}}</a></p>
  </div>
  <div class="titleContentRight">
    <p class="vote" *ngIf="post?.profileAction == null"> <a (click)="clickOp()">Like</a> | <a (click)="clickDown()">Dislike</a></p>
    <p class="vote" *ngIf="post?.profileAction == 'dislike'"> <a (click)="clickOp()">Like</a> | <a (click)="clickDown()" style="color: blue">Dislike</a></p>
    <p class="vote" *ngIf="post?.profileAction == 'like'"> <a (click)="clickOp()" style="color: green">Like</a> | <a (click)="clickDown()">Dislike</a></p>
  </div>

  <p class="pointScore"> {{score}} </p>
  <p class="contentContainer">{{post?.content}}</p>
  <p class="contNekstraP"> <a (click)="clickProfile()">{{post?.profileProfileName}}</a> || {{post?.created | date:"dd/MM/yyyy"}}</p>

</div>