.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.title1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.col-sm-3 h1 {
    text-align: center;
    font-weight: 200;
}

.mainPhoto {
    height: 215px;
    width: 215px;
}